<%- include("../partials/header") %>


<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1 class="display-4">Aperture</h1>
      <hr>
      <p class="lead">
        Aperture is a place for photography enthusiasts to post their best photos.
        Sign up to post your own photo and leave a five star rating on your favorite picture.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="/photos/new">Add New Photo</a>
      </p>
    </div>
  </header>

  <div class="row">
    <% photos.forEach(function(photo) { %>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card h-100 bg-light">
            <img src="<%= photo.image %>" class="card-img-top img-responsive">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= photo.name %></h5>
              <p class="card-text"><%= photo.description %></p>
              <a href="/photos/<%= photo._id %>" class="mt-auto btn btn-primary btn-block">View Photo</a>
            </div>
          </div>
        </div>
    <% }); %>
  </div>

</div>

<%- include("../partials/footer") %>
