<%- include("../partials/header") %>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
        <img src="<%= photo.image %>" class="card-img-top img-responsive">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-6">
              <h3 class="card-title"><%= photo.name %></h3>
            </div>
            <div class="col-md-6 col-6">
              <h5 class="text-right"></h5>
            </div>
          </div>
          <p class="card-text"><%= photo.description %></p>
          <p class="card-text"><small>Submitted By: <%= photo.author.username %></small></p>
            <% if (currentUser && photo.author.id.equals(currentUser._id)) { %>
              <form class="form-inline" action="">
                <div class="form-group">
                  <a class="btn btn-sm btn-warning mr-2" href="/photos/<%= photo._id %>/edit">Edit Photo</a>
                </div>
              </form>
            <% } %>
        </div>
      </div>
      <div class="card card-body mb-3 pb-0">
        <div class="row">
          <div class="col-md-6 col-6">
            <h3>Comments</h3>
          </div>
          <div class="col-md-6 col-6">
            <a class="btn btn-sm btn-success float-right mb-4" style="width: 120px;" href="/photos/<%= photo._id %>/comments/new">New Comment</a>
          </div>
        </div>
        <% photo.comments.forEach(function(comment) { %>
          <div class="comment-card card card-body mb-3">
            <div class="row">
              <div class="col-md-6 col-6">
                <h4><%= comment.author.username %></h4>
              </div>
              <div class="col-md-6 col-6">
                <p style="margin: 0" class="text-right"><%= comment.created.toDateString() %></p>
              </div>
              <div class="col-md-12 col-12">
                <p class="mb-2"><%= comment.text %></p>
              </div>
              <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                <div class="col-md-12 col-12">
                  <form class="form-inline" action="/photos/<%= photo._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                    <div class="form-group">
                      <a class="btn btn-sm btn-warning mr-2" href="/photos/<%= photo._id %>/comments/<%= comment._id %>/edit">Edit</a>
                      <button class="btn btn-sm btn-danger">Delete</button>
                    </div>
                  </form>
                </div>
              <% } %>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>


<%- include("../partials/footer") %>
